body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

body * {
  display: block;
}

.game-zone {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

matrix-block {
  border: 1px solid black;
  box-sizing: border-box;
}

.head {
  background-color: red !important;
}

.active {
  background-color: white;
}