body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

body * {
  display: block;
}

.game-zone {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

matrix-block,
bonus-block {
  border: 1px solid black;
  box-sizing: border-box;
}

bonus-block.active {
  border-color: red;
  animation: glow .5s infinite alternate;
}

.head {
  background-color: red !important;
}

.active {
  background-color: white;
}

@keyframes glow {
  0% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}